@import url("https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css");
@import url("variables.css");
@import url("estilos_responsivos.css");
/*iconos*/
i{
    font-size: 25px;
}
/*nav*/
nav.tab-nav {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f5f5f5;
    margin-right: 5px;
    border: 1px solid transparent;
}

.tab-button.active {
    background-color: #fff;
    border-bottom: none;
}

.tab-content {
    display: none;
    padding: 15px;
    border-top: none;
}

.tab-content.active {
    display: block;
}
/*Cards*/
.maselementos{
    display: none; 
    flex-wrap: wrap; 
    justify-content: space-around;
}
.card{
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 20px 20px 20px;
    background-color: #ffffff
}
    .card h2 {
        font-size: 20px;
        color: #222222;
        display: block;
        width: 100%;
        padding: 5px;

        font-weight: var(--font-weight-semibold);
        font-size: var(--text-base);
        line-height: calc(var(--spacing)* 7);
    }
        .card h2 i{
            font-size:18px;
        }
        .card h2.revclientes{
            font-size: 20px;
            color: #222222;
            display: block;
            width: 100%;
            padding: 5px;
            border-bottom: 1px solid #222222;
            margin-bottom: 20px;
            width: 100%;
        }
        .card h2.pedidos {
            font-size: 20px;
            color: #222222;
            display: block;
            width: 100%;
            padding: 5px;
            border-bottom: 1px solid #222222;
            margin-bottom: 20px;
        }
    .card h3{
        color: #222222;
        display: block;
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;

        font-weight: var(--font-weight-semibold);
        font-size: calc(var(--text-base)* 1.2);
        line-height: calc(var(--spacing)* 7);
    }
    .card form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

.card_2{
    border-radius: 10px;
    padding: 20px 20px 30px 20px;
    margin: 0 20px 20px 20px;
    background-color: var(--color-gray-50);
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");  
    border: 1px solid #cccccc;
    height: 100;
}
    .card_2 h2{
        font-weight: var(--font-weight-semibold);
        font-size: var(--text-base);
        line-height: calc(var(--spacing)* 7);
    }
    .card_2 p{
        display: block;
        padding: 10px;
        font-size: 18px;
        font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); 
    }
    .card_2 p i{
        float: right;
    }

.l_form {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px 13px;
}
/*anchos*/
.c10{
    width: 10%;
}
.c15{
    width: 15%;
}
.c20{
    width: 20%;
}
.c25{
    width: 25%;
}
.c30{
    width: 30%;
}
.c40{
    width: 40%;
}
.c45{
    width: 45%;
}
.c50{
    width: 50%;
}
.c60{
    width: 60%;
}
.c70{
    width: 70%;
}
.c80{
    width: 80%;
}
.c90{
    width: 90%;
}
.c100 {
    width: 100%;
}
/*align*/
.c_der{
    text-align: right;
}
.c_center{
    text-align: center;
}
/*inputs*/
input[type="number"], input[type="text"], input[type="date"], input[type="month"], input[type="email"], input[type="password"], input[type="file"], input[type="time"], input[type="color"], input, datalist, textarea, select {
    height: 35px;
    width: 100%;
    border: 0px solid;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-size: 13px;
    color: #222222;
    font-weight: bold;
    border: 1px solid #e7e7e7;
    padding-left: 10px;
    border-radius: 5px;
    outline-color: var(--color-gray-300);
    outline-offset: calc(1px* -1);
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
}
input:disabled{
    background: #eeeff4;
}
input[type="checkbox"] {
    height: 20px;
    width: 20px;
}
input[type="button"], input[type="submit"], .boton{
    height: 50px;
    background-color: #5D3FD3;
    border: none;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;

    --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.05));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-block: calc(var(--spacing)* 3);
    padding-inline: calc(var(--spacing)* 3);
    border-radius: var(--radius-md);
}


.boton{
    width: 100%;
}
.boton:hover, input[type="submit"]:hover{
    background-color: #7E5FD3;
}

input[type="password"]{
    width: calc(100% - 30px);
}

.a_input{
    display: block;
    width: 100%;
    border: 1px solid #e7e7e7;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-size: 13px;
    color: #695de9;
    font-weight: bold;
    background: #ffffff;
    padding:10px;
    border-radius: 5px;
}
/*checkboxes*/
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tg-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.tg-list-item {
    margin: 0 2em;
}
    .tg-list-item h4{
        color: #999;
    }
.tgl {
    display: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
    background: #9FD6AE;
}

.pass_view{
    display: block;
    background-color: #f7f7f7;
    padding: 10px 0px 0px 0px;
}

.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.filupp {
    position: relative;
    background: #f7f7f7;
    display: block;
    padding: 1em;
    font-size: 1em;
    width: 100%;
    height: 3.5em;
    color: #695de9;
    cursor: pointer;
}
  .filupp:after {
    font-family: 'FontAwesome';
    content: "\f093";
    position: absolute;
    top: 0.85em;
    right: 0.45em;
    font-size: 2em;
    color: #695de9;
    line-height: 0;
  }
  .filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }

textarea{
    height: 200px;
}

input[type="button"]:hover, input[type="submit"]:hover{
    background-color: #7E5FD3;
}

.textile-toolbar{
    width: 100%;
    background: #f7f7f7;
}

/*tablas*/
table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
    tr:hover > td, tr:hover td.sorting_1{
        background-color:#efefef;
    }
    tr.trpedidos:hover td{
        background-color:#F2FFBD;
    }
    tr.trcreditos:hover td{
        background-color:#CBF9F6;
    }
  th {
    background: #695de9;
    color: #fff;
    /*font-weight: bold;
    padding: .7rem 0;
    border: 1px solid #fff;*/
  }
  .trevclientes, .tcreditos, .tleads{
    background: #ffffff !important;
  }
  .tpedidos{
    background: #D2FF1E;
    color: #0A2240;
  }

  td {
    padding: .5rem 1rem;
    border-right: 1px solid rgb(255,255,255);
  }
.textotitable{
    color: #fff;
    font-weight: bold;
}

/*You can fix this by adding*/

td.dtfc-fixed-left {
    background-color: #FFF;
}

th.dtfc-fixed-left {
    background: #695de9;
    z-index: 1;
}


/*agenda*/
.agenda{
    width: 100%;
    height: calc(100vh - 150px);

    display: flex;
    flex-wrap: wrap;
}
    .horarios_agenda{
        width: 7.6%;
        position: relative;
    }
        .horarios_agenda div{
            height: 9%;
            border: 1px solid #ccc;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

.cita{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    overflow: auto;
    
    align-content: flex-start;
}
    .cita h5{
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }
        .cita h5 span{
            float:right;
        }
    .cita h6{
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }
    .cita p{
        display: block;
        width: 100%;
        text-align: left;
        font-size: 13px;
        margin-bottom: 5px;
    }
        .cita p i{
            font-size: 16px;
        }
.hora_agenda{
    cursor: pointer;
}

/*otros*/
.add{
    font-size: 30px;
    margin: 20px;
}
    .add a{
        text-decoration: none;
        color: #695de9;
    }
    .add a:hover{
        color: #37b83c;
    }
.titulos{
    background: rgba(105,93,233,0.3);
    text-align: center;
    padding: 10px 20px;
    margin: 0px 20px 20px 20px;
    color: #5e657b;
}
.liga{
    font-weight: bold;
}
    .liga:hover{
        text-decoration: underline;
    }

/*anuncios*/
.pub_img{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 200px;
}
.pub_dat{
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
    .pub_dat div{
        width: 100%;
    }
    .pub_dat div:nth-child(1){
        height: calc(100% - 30px);
        border-bottom: 2px solid rgba(105,93,233,0.3);
    }
        .pub_dat div h1{
            display: block;
            text-align: left;
            color: #37b83c;
            margin-bottom:10px;
        }
        .pub_dat div section{
            display: block;
            width: 100%;
        }
        .pub_dat_ico{
            padding: 10px 10px 0px 10px;
        }
            .pub_dat_ico span{
                margin: 0px 5px;
            }
                .pub_dat_ico span a{
                    text-decoration: none;
                    color: #695de9;
                }
                .pub_dat_ico span a:hover{
                    color: #37b83c;
                }

/*recursos*/
.rec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
    .rec div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .rec div span{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: rgba(105,93,233,0.3);
        border-radius: 50%;
    }
    .rec div span i{
        font-size: 50px;
        display:block;
        color: #37b83c;
    }
    .rec div h1{
        display: block;
        width: 100%;
        margin: 20px 10px;
        text-align: center;
        color: #e4820c;
    }

/*reportes y estadisticos*/
.rep{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
.card_po{ /*reservaciones*/
    background: rgba(55,184,60,0.3);
	margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60px;
}
    .card_po:before{
        font-family: 'FontAwesome';
        content: "\f073";
        position: absolute;
        top: 0;
        color: #f7f7f7;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        border-radius: 50%;
        top: 0px;
        left:15px;
        transform:rotate(30deg);
    }

    .card_po h1{
        display: block;
        width: 100%;
        margin: 20px 0px 0px 0px;
        padding: 0px 10px;
        text-align: right;
        color: #f7f7f7;
    }
.card_pc{ /*puntos canjeados*/
    background: rgba(122,117,228,0.3);
	margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60px;
}
    .card_pc:before{
        font-family: 'FontAwesome';
        content: "\f4b9";
        position: absolute;
        top: 0;
        color: #f7f7f7;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        border-radius: 50%;
        top: 0px;
        left:15px;
        transform:rotate(30deg);
    }
    .card_pc h1{
        display: block;
        width: 100%;
        margin: 20px 0px 0px 0px;
        padding: 0px 10px;
        text-align: right;
        color: #f7f7f7;
    }
.card_cl{ /*personas atendidas*/
    background: rgba(243,97,21,0.3);
	margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60px;
}
    .card_cl:before{
        font-family: 'FontAwesome';
        content: "\f0c0";
        position: absolute;
        top: 0;
        color: #f7f7f7;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        border-radius: 50%;
        top: 0px;
        left:15px;
        transform:rotate(30deg);
    }
    .card_cl h1{
        display: block;
        width: 50%;
        margin: 20px 0px 0px 50%;
        padding: 0px 10px;
        text-align: left;
        color: #f7f7f7;
    }
.card_la{ /*lavanderia*/
    background: rgba(41,171,226,0.3);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60px;
}
    .card_la:before{
        font-family: 'FontAwesome';
        content: "\f553";
        position: absolute;
        top: 0;
        color: #f7f7f7;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        border-radius: 50%;
        top: 0px;
        left:15px;
        transform:rotate(30deg);
    }
    .card_la h1{
        display: block;
        width: 50%;
        margin: 20px 0px 0px 50%;
        padding: 0px 10px;
        text-align: left;
        color: #f7f7f7;
    }

.card_ens{ /*encuesta satisfaccion*/
    background: rgba(252,0,103,0.3);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60px;
}
    .card_ens:before{
        font-family: 'FontAwesome';
        content: "\f118";
        position: absolute;
        top: 0;
        color: #f7f7f7;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        border-radius: 50%;
        top: 0px;
        left:15px;
        transform:rotate(30deg);
    }
    .card_ens h1{
        display: block;
        width: 50%;
        margin: 20px 0px 0px 50%;
        padding: 0px 10px;
        text-align: left;
        color: #f7f7f7;
    }

.card_ma{ /*material de apoyo*/
    background: rgba(0,204,204,0.3);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60px;
}
    .card_ma:before{
        font-family: 'FontAwesome';
        content: "\f7f7";
        position: absolute;
        top: 0;
        color: #f7f7f7;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        border-radius: 50%;
        top: 0px;
        left:15px;
        transform:rotate(0deg);
    }
    .card_ma h1{
        display: block;
        width: 50%;
        margin: 20px 0px 0px 50%;
        padding: 0px 10px;
        text-align: left;
        color: #f7f7f7;
    }

.card_soc{ /*estudio socioeconomico*/
        background: rgba(175,141,96,0.3);
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 60px;
    }
        .card_soc:before{
            font-family: 'FontAwesome';
            content: "\f1c6";
            position: absolute;
            top: 0;
            color: #f7f7f7;
            font-size: 100px;
            line-height: 100px;
            text-align: center;
            border-radius: 50%;
            top: 0px;
            left:15px;
            transform:rotate(30deg);
        }
        .card_soc h1{
            display: block;
            width: 50%;
            margin: 20px 0px 0px 50%;
            padding: 0px 10px;
            text-align: left;
            color: #f7f7f7;
        }



    .rep div p{
        display: block;
        text-align: left;
        padding: 3px;
        border-bottom: 1px solid #cccccc;
    }
        .rep div p a{
            font-size: 13px;
            color: #695de9;
            font-weight: bold;
        }
            .rep div p a:hover{
                text-decoration: underline;
            }
/*mensaje*/
.mesaje{
	width: 100%;
	background-color: rgba(55,184,60,0.3);
	text-align: center;
	padding: 20px;
	font-size: 15px;
    color: #695de9;
    margin-bottom: 20px;
}
/*logotipo*/
.img_logo_neg{
    width: 400px;
    height: 400px;
}

/*cambiar password*/
.pass{
    font-size: 22px;
    text-align: right;
    color: #695de9;
}
    .pass i{
        cursor: pointer;
    }

/*estadisticos*/
.estadisticos{
    display: flex;
    margin-top: 20px; 
    align-items: center;
    justify-content: center;
}

/*menu interior*/
.menucard{
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
}
.menucard ul li{
    display: inline-block;
    padding: 5px 10px;
}

/*menu_flotante*/
.menu_flot{
    z-index: 1000;
    padding: 10px;
    z-index: 1000;
    position: absolute;
    border: 1px solid #000;
    margin-left: -128px;
    margin-top: -24px;
    width: 150px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 14px -1px rgb(0 0 0 / 35%);
}
    #close{
        width: 100%;
        display: block;
        text-align: right;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }
    .menu_flot ul li{
        display: block;
        padding: 5px 0;
        border-bottom: 1px solid #ccc;
    }
.equis{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(245, 23, 23);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: -9px;
    right: -7px;
    box-shadow: 5px 5px 14px -1px rgb(0 0 0 / 35%);
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
}
/*alerta amonestaciones*/
.amo_flot{
    z-index: 1000;
    padding: 0;
    position: absolute;
    border: 0;
    margin-left: 30px;
    margin-top: -30px;
    width: 10px;
    height: 10px;
    background-color: rgb(245, 23, 23);
    border-radius: 50%;
}
/*imagenpaciente*/
.imgpac{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/*iconos estadisticos*/
.i_estadistico{
    font-size: 14px; color: rgba(000,000,000, 0.5);
}

/*estatus*/
.estatus{
    display: block;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 12px;
    background-color: #cccccc;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

/*tooltip*/
.mytooltip .mytext {
    visibility: hidden;
    width: 140px;
    background-color: #fff;
    color: #0a2240;
    z-index: 1;
    top: 100%;
    margin-left: -80px;
    text-align: center;
    border:1px solid #cccccc;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
 }
 .mytooltip {
    position: relative;
    display: inline-block;
 }
 .mytooltip .mytext:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #cccccc transparent ;
 }
 .mytooltip:hover .mytext {
    visibility: visible;
 }

/*responsivo*/
@media only screen and (max-width:600px){
    .c20, .c30, .c40, .c50, .c60, .c70, .c80{
        width: 100%;
    }
    .card, .add, .titulos{
        margin: 0px 0px 20px 0px;
    }
    .pub_dat{
        padding: 0px;
    }
    .pub_dat_ico{
        padding: 10px 0px 0px 0px;
    }

    /*agenda*/
    .horarios_agenda:nth-child(1){
        display: none;
    }
    .horarios_agenda{
        width: 100%;
        height: fit-content;
    }
        .horarios_agenda div{
            height: auto;
        }
    div.hora_agenda{
        display: none;
    }
    .cita {
        position: initial;
    }
    .cita h5{
        font-size: 20px;
    }
    .cita h6{
        font-size: 18px;
    }
    .cita p{
        font-size: 16px;
    }
    .estadisticos{
        flex-direction: column;
    }
}
/*Datos bitacoro*/
.dat-bit{
    width: 100%;
    height: 100px;
    overflow:auto;
}

/*Datatable*/
.dt-button{
    padding:10px;
    border: 1px #5D3FD3 solid;
    background-color: #5D3FD3;
    color: #fff;
}
.dt-button:hover{
    background-color: #7E5FD3;
    border: 1px #7E5FD3 solid;
    color: #fff;
}

table thead th{
    background-color: #ffffff !important;
    color: #291B28 !important;
    font-weight: var(--font-weight-semibold) !important;
    font-size: var(--text-sm) !important;
    line-height: var(--tw-leading, var(--text-sm--line-height)) !important;
    text-align: left !important;
    padding-right: calc(var(--spacing)* 3) !important;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji") !important;
}

table tbody tr td{
    color: var(--color-gray-500) !important;
    white-space: nowrap !important;
    font-weight: var(--font-weight-medium) !important;
    font-size: var(--text-sm) !important;
    line-height: var(--tw-leading, var(--text-sm--line-height)) !important;
    padding-block: calc(var(--spacing)* 2) !important;
    padding-right: calc(var(--spacing)* 3) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: unset;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: var(--color-blue-50);
    color: #0d2240 !important;
    border: 0;
}

table.dataTable.order-column.stripe > tbody > tr.odd > .sorting_1 {
    box-shadow: inset 0 0 0 9999px rgb(249, 249, 249);
}
table.dataTable.order-column.stripe > tbody > tr.even > .sorting_1  {
    box-shadow: unset;
}

table.dataTable.order-column.stripe > tbody > tr.odd:hover td.sorting_1 {
   box-shadow: unset
}

/*APEX chart */
.apexcharts-toolbar {
    z-index: 9 !important;
}

/*loading*/
.loading{
    display: flex; 
    flex-wrap: wrap; 
    align-content: center; 
    align-items: center; 
    justify-content: center; 
    width: 100%
}
/*  table.dataTable.stripe > tbody > tr.odd > *{
    box-shadow: unset;
}

/*Created with human intelligence by @jkarreno 2023 - 2024 - 2025*/
/*May the force be with you*/
/*move your stars*/
/*always ready*/